html {
  margin: 1%;
}
.messages {

  width: 70%;
  height: 15rem;
  color: black;
  background-color: white;
  border-style: solid;
  resize: none;
}
.end-game-no {
  visibility: hidden;
}
.end-game-yes {
  visibility: visible;
}
.game-play {
  visibility: visible;
}

.game-play-no {
  visibility: hidden;
}
